@use '../vendor/boostrap' as *;
@use '../theme/appTheme'  as *; 


.top--book{
    padding-top: 0.3rem;

    .display-4{
        font-size: 2.0rem;
        font-weight: 500;
        padding-left: 0.2rem;
        margin-top: 0.4rem;
        margin-bottom: 1.2rem;
        font-family: 'Poppins', sans-serif;
    }

    .row{
        .card{
            cursor: pointer;
            border-radius: 20px;
            text-decoration: none;
            border: none;
            

            .card-body{
                width: 100%;
                margin: 0 auto;
               

                .card--img{
                    width: 100%;
                    background-color: rgb(250, 250, 250);
                    border-radius: 20px;

                    .imgPlaceholder--img{
                       
                    }
                    img{
                        border-radius: 20px;
                        margin: 0 auto;
                    }
                }
                .card--description{
                    padding-top: 0.6rem;

                    .display-4{
                        height:50px;
                        font-size: 1.1rem;
                        font-weight: 600;
                        color: var(--secondary-color);
                        text-overflow: ellipsis;
                        padding-left: 0.2rem;
                        text-transform: capitalize;
                        margin: 0 auto;
                    }

                    span{
                        margin-top: 0.7rem;
                        display: block;
                        width: 100px;
                        height: 3px;
                        background-color: #F6EABB;
                        border-radius: 15px;
                    }
                }
            }

            &:hover{
                background-color:#f4f4fa;
                color: white;
                //border:1px solid rgb(180, 177, 177);
            }
        }
    }
}

.sliding--pane{
    width: 70%!important;
    background-color: var(--secondary-color) !important;

    @include media-breakpoint-up(lg){
        width: 300px!important;
    }
}

.overLay--sliding{
    z-index: 10001 !important;
}

.book--details{
    text-align: center;

    h5{
        color: white;
    }

    .book--card{
        width: 80%;
        margin: 0.3rem auto;
        
        &--body{
            padding-top: 2rem;
            

            .book--card--img{
                border-radius: 20px;
                background-color: var(--secondary-lightcolor);
                margin: 0 auto;
            }

            .book--card--title{
                padding-top: 0.9rem;
                padding-bottom: 1.3rem;
                span{
                    
                    color: wheat;
                }

                .display-4{
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: whitesmoke;
                    text-overflow: ellipsis;
                    padding-left: 0.2rem;
                    padding-bottom: 0.5rem;
                    text-transform: capitalize;
                    margin: 0 auto;
                }
            }
        }
    }
}