@use '../vendor/boostrap' as *;


:root{
    --body-bg-color: #fff;
    --primary-color: #B7ADF1;  //#ff005e;    //B7ADF1;
    --secondary-color:#1B1924;
    --secondary-lightcolor:rgba(209, 207, 207, 0.1); 
    --accent-color:#fff;
    --inactive-anchor-color:#d69cc8;
    --text-color: rgb(255, 254, 254);
}

body{
   overflow-x: hidden;
   padding: 0;
   margin: 0;
   background-color: var(--body-bg-color);
}