@use '../vendor/boostrap' as *;
@use '../theme/appTheme'  as *; 


.app--sidebar{
    width: 100%;
    display: none;
    flex-direction: column;
    height: auto;
    background-color:  var(--secondary-color); //#1452A8;
    border-top-right-radius: 7.555rem;


   @include media-breakpoint-up(lg){
    width: 270px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    overflow-y: auto;
 }

     &--top--container{
         width: 100%;
         height: 300px;
         padding-bottom: 0.9rem;

         .container{
             padding-top: 3.3rem;
             position: relative;


             .sidebar--extra-wrap{
                 width: 140px;
                 height: 140px;
                 border-radius: 50%;
                 background-color: var(--primary-color);
                 margin: 0 auto;
             }
             

             .sidebar--avatar-wrapper{
                 position: absolute;
                 top: 20%;
                 left: 19%;
                 width: 140px;
                 height: 140px;
                 background-color: #F6EABB;
                 border-radius: 50%;
                // border-top-left-radius: 16px;
                 overflow: hidden;


                 img{
                     filter: grayscale(2%);
                 }

             }

             .sidebar--para{
                 text-align: center;
                 padding-top: 1rem;

                 span{
                     font-size: 1rem;
                     color: whitesmoke;
                     font-weight: lighter;
                     letter-spacing: 3px;
                 }

                 h5{
                     font-size: 1.5rem;
                     font-weight: 600;
                     color: $white;
                 }
             }
         }
     }

     &--bottom--container{
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: calc(1);
        border-top-right-radius: 6.555rem;
        background-color: var(--secondary-lightcolor);//#1E61CA; 

        .container{
            padding-top: 2.3rem;
        }
    }
}